.toolbar1 {
    position: fixed;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    padding: 5px 10px; 
    background: #ffffff;
    border-bottom: 1px solid #333;
}

.signinbutton {
   cursor: pointer;
    background: transparent;
    border: 0px solid;
    font-size: 100%;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
}

.toolbar2 {
  display: grid;
  grid-template-columns: 80% 20%;
  position: fixed;
  width: 100%;
  height: 92px;
  margin-top: 10px;
  left: 0;
  padding: 5px 10px; 
  background: #12b2e6; 
}

.site-logo-big {
    height: 73px;
    width: 373px;
    margin: 0;
    margin-left: 40px;
    margin-top: 10px;
    padding: 0;
    transform: translate(-10px, 0px);
    position: relative;
    top: 10;
}

.toolbar3 {
    position: fixed;
    width: 100%;
    margin-top: 120px;
    height: 58.49px;
    top: 0;
    left: 0;
    padding: 0px 10px; 
    background: #ffffff;
}

.toolbutton {
  border: none;
  border-right: 3px solid #dedede;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.content {
  padding-top: 155px;  /* push paragraphs and stuff down from under the toolbar*/
}

.parallax{
  background-image: url("bluecity.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  width: 100%;
  height: 130px;
  margin-top: 10px;
  margin-left: -10px;
  left: 0;
  padding: 5px 10px; 
  background: #12b2e6; 
}
